<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-6">
      <% if @posts.empty? %>
      <h1>Seems you haven't follow anyone yet! See blogs <a href="/posts">here</a></h1>
      <% else %>

        <% @posts.each do |post|%>
        <a href="/posts/<%= post.id %>">
          <div class="blog-post center">
            <h1><%= post.title %></h1>
            <h3>By: <a href="/users/<%= post.user.username %>"><%= post.user.username %></a></h3>
        
            <% if post.likes > 0 %>  
            <p>likes <%= post.likes %></p>
            <% end %>
        
            <% if logged_in? && post.user.id == current_user.id %>
              <a href="/posts/<%= post.id %>/edit"><button class="btn btn-outline-info" >Edit</button></a>
            <% end %>
            <% if logged_in? && post.user.id != current_user.id %>
              <form action="/like" method="POST"><button class="btn btn-outline-success" type="submit" name='posts' value="<%= post.id %>">Like</button></form>
            <% end %>
          </div>
        </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>