<% if flash.has?(:message) %>
  <div class="alert alert-success center" role="alert">
    <%= flash[:message] %>
  </div>
<% end %>
<div class="container">
  <div class='row justify-content-lg-center'>
    <!-- User information -->
    <div class="col-lg-8">
      <h1 id="profile-name"><%= @user.username %></h1>
      <p class="follow-stat"><strong><%= @user.followers.size %></strong>Followers  <strong><%= @user.followees.size %></strong>Following</p>
      
      <% if !logged_in? || @user.id != current_user.id %>
        <% if logged_in? && current_user.followees.find_by(id: @user.id) != @user  %>
          <form  class="follow-btn" action="/follow" method="POST"><button class="btn btn-outline-success" type="submit" name="follow" value="<%= @user.id %>">Follow</button></form>
        <% elsif logged_in? && current_user.followees.find_by(id: @user.id) == @user %>
          <form  class="follow-btn" action="/follow" method="POST"><button class="btn btn-outline-warning" type="submit" name="unfollow" value="<%= @user.id %>">UnFollow</button></form>
        <% end %>
    
      <% end %>
    
    </div>
  </div>
</div>
    <!-- user's blogs -->
<div class="container">
  <div class="row justify-content-lg-center'"> 
    <div class="col-lg">
      <% if @posts.empty? %>
        <h1>Create A new a new <a href="/posts/new">Blog!</a></h1>
      <% else %>
        <% @posts.each do |post| %>
          <a href="/posts/<%= post.id %>">
            <div class="blog-post center ">
              <h1><%= post.title %></h1>
        
              <% if post.likes > 0 %>  
                <p style="color: black;">likes: <%= post.likes %></p>
              <% end %>
        
              <% if logged_in? && post.user.id != current_user.id %>
                <form action="/like" method="POST"><button class="btn btn-outline-success" type="submit" name='account' value="<%= post.id %>">Like</button></form>
              <% end %>
        
              <% if logged_in? && @user.id == current_user.id %>
                <a href="/posts/<%= post.id %>/edit"><button>Edit</button></a>
              <% end %>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>   
  </div>
</div>